{% extends "base.html" %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-md-6 d-none d-sm-block">
            <div class="w-100 mt-5">
                <h4 class="text-center">Welcome to Buntureview</h4>
                <div class="w-100 pl-5 pr-5 pt-5">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here, content here'</p>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here, content here'</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="w-100 mt-5 pl-xl-5 pr-xl-5 pl-lg-4 pl-md-5 pl-sm-1 pr-xl-5 pr-sm-1 pr-md-5">

                <h4 class="text-center">Login Account</h4>
                {% if errors %}
                <div class="alert alert-danger text-center mt-3">
                    {{ errors }}
                </div>
                {% endif %}
                <form action="/login/" method="post" class="mt-4">
                    {% csrf_token %}

                    <div class="form-row">
                        <div class="form-group col-md-12 mb-0">
                            {{ form.email|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-12 mb-0">
                            {{ form.password|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-group">
                        <p>New User? <a href="{% url 'registration' %}">Click</a></p>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-secondary w-100">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}