{% extends "base.html" %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-7 col-sm-12">
            <div class="w-100 mt-5">
                <h4 class="text-center">Welcome to Buntureview</h4>
                <div class="w-100 pl-5 pr-5 pt-5">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here, content here'</p>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here, content here'</p>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-12">
            <div class="w-100 mt-5 pl-5 pr-5">
                <h4 class="text-center">Create Account</h4>
                {% if errors %}
                <div class="alert alert-danger text-center mt-3">
                    {{ errors }}
                </div>
                {% endif %}
                {% if success %}
                <div class="alert alert-success text-center mt-3">
                    {{ success }}
                </div>
                {% endif %}
                <form action="/registration/" method="POST" class="mt-4">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            {{ form.first_name|as_crispy_field }}
                            <div class="invalid-feedback">
                                First Name can't be empty.
                            </div>
                        </div>
                        <div class="col-lg-6  col-md-12 col-sm-12">
                            {{ form.last_name|as_crispy_field }}
                            <div class="invalid-feedback">
                                Last Name can't be empty.
                            </div>
                        </div>
                        <div class="col-lg-6  col-md-12 col-sm-12">
                            {{ form.email|as_crispy_field }}
                            <div class="invalid-feedback">
                                Please provide a valid email.
                            </div>
                        </div>
                        <div class="col-lg-6  col-md-12 col-sm-12">
                            {{ form.password|as_crispy_field }}
                            <div class="invalid-feedback">
                                Please provide a valid password
                            </div>
                        </div>
                        <div class="col-lg-6  col-md-12 col-sm-12">
                            {{ form.confirm_password|as_crispy_field }}
                            <div class="invalid-feedback">
                                Password & confirm password must have to be same
                            </div>
                        </div>
                        <div class="col-12 mt-3">
                            <div class="form-group">
                                <button class="btn btn-secondary w-100">Register</button>
                            </div>
                        </div>
                        <div class="col-12">
                            <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}