<div id="email_main_full_body"
    style="width:80%; margin:auto; height:100%; color:#626365; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
    <div id="email_header_body" style="padding-top: 10px; padding-bottom:10px;">
        <h3 style="text-align:center; font-size:18px; color:#b1976b;">Password Reset</h3>
    </div>

    <div id="email_main_body" style="font-size:15px;">
        <p>Dear {{USERNAME}},</p>
        <p>We have received password reset request for your account. Click below button to reset your password.</p>
        <div style="text-align:center; width:100%; margin-top:50px; margin-bottom:40px;">
            <a href="{{PASSWORD_CHANGE_URL}}"
                style="text-decoration:none; background:#00ace6; border:1px solid #00ace6; color: #fff; border-radius:5px; padding:7px 10px;">Reset
                Password</a>
        </div>
    </div>

    <div id="email_footer_body" style="font-size:15px;">
        <p>Kindly Regards</p>
        <p>SuperType AI Team</p>
    </div>
</div>